{:deps
 {commons-io/commons-io {:mvn/version "2.16.1"}}
 :paths ["src"]
 :aliases
 {:dev
  {:extra-paths ["test"]
   :extra-deps
   {org.clojure/clojure         {:mvn/version "1.12.0-beta1"}
    org.clojure/tools.namespace {:mvn/version "RELEASE"}
    criterium/criterium         {:mvn/version "RELEASE"}
    funcool/cuerdas             {:mvn/version "RELEASE"}}}

  :build
  {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.10.5" :git/sha "2a21b7a"}}
   :ns-default build}

  :codox
  {:extra-deps
   {codox/codox {:mvn/version "RELEASE"}
    org.clojure/tools.reader {:mvn/version "RELEASE"}
    codox-theme-rdash/codox-theme-rdash {:mvn/version "RELEASE"}}}

  :repl
  {:main-opts ["-m" "rebel-readline.main"]
   :extra-deps {com.bhauman/rebel-readline  {:mvn/version "RELEASE"}}}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                org.slf4j/slf4j-nop {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}}}
