{:deps
 {funcool/promesa {:mvn/version "6.0.0"}}
 :paths ["src"]
 :aliases
 {:dev
  {:extra-paths ["test"]
   :extra-deps
   {org.clojure/clojure         {:mvn/version "1.10.3"}
    org.clojure/tools.namespace {:mvn/version "1.1.0"}

    commons-io/commons-io       {:mvn/version "2.8.0"}
    funcool/cuerdas             {:mvn/version "2020.03.26-3"}}}

  :jar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "RELEASE"}}
   :exec-fn hf.depstar/jar
   :exec-args {:jar "target/datoteka.jar"}}


  :codox
  {:extra-deps {codox/codox {:mvn/version "RELEASE"}
                org.clojure/tools.reader {:mvn/version "RELEASE"}
                codox-theme-rdash/codox-theme-rdash {:mvn/version "RELEASE"}}}

  :repl
  {:main-opts ["-m" "rebel-readline.main"]
   :extra-deps {com.bhauman/rebel-readline  {:mvn/version "RELEASE"}}}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}
  }}
